<h1>No worlds retrieved</h1>

<p class="lead">Hive job <em><%= params[:hive_job_id] -%></em> was not reported to Testmine.</p>
<p>Perhaps the suite isn't configured correctly for this Testmine instance?</p>