/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "result_badges";
@import "tags";
@import "world_effects";
@import "result_tables";

.navbar-image {
  float: left;
  padding: 5px 20px 5px 5px;
}

.reliability table {
    border-collapse: collapse;
    width: 100%;
}

.reliability th, .reliability td {
    text-align: left;
    padding: 8px;
}

.reliability tr:nth-child(even){
  background-color: #f2f2f2
}

.reliability th {
    background-color: #4CAF50;
    color: white;
}
